@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --color-1: #e6e6e6;
    --color-2: #242424;
    --color-3: rgb(98, 98, 98);
    --color-4: #c4c4c4;
    --color-5: rgb(0, 0, 0, .2);
    --color-6: white;
    --color-7: #F5F5F5;
    --color-8: #242424;

    --fish-rotation: -60deg;
}

body::-webkit-scrollbar {
    width: .7em;
    background-color: var(--color-1);
}


body::-webkit-scrollbar-thumb {
    background-color: var(--color-3);
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', "Ubuntu", sans-serif;
    /* border: 1px solid black !important; */
}

body {
    overflow-x: hidden;
}

@keyframes floating {
    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    position: absolute;
    width: 100%;
    z-index: 9;
    font-size: 16px;
}

.nav-part {
    background-color: var(--color-1);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 3px 2px var(--color-5);
    transition: .2s;
}

.navigation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navigation a {
    margin: 0 10px;
}

.nav-part a {
    text-decoration: none;
    color: var(--color-2);
    font-weight: 600;
    transition: .2s;
}

.lianas {
    position: absolute;
    width: 420px;
    top: 60px;
    height: 320px;
    transform: translateX(-50%);
    left: 50%;
    transition: .3s;
}

#about-nav {
    top: -150px;
    left: 25px;
}

.email {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    animation: floating 2.5s infinite ease-in-out;
}

#email {
    position: relative;
}

#copied-text {
    content: 'Copied!';
    position: absolute;
    transform: translate(-50%);
    opacity: 0;
    font-weight: 700;
    transition: .5s;
    top: -70%;
    left: 50%;
    transform: translateX(-50%);
}

.status {
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    background-image: url(./imgs/bucket-colored.webp);
    background-repeat: no-repeat;
    background-size: contain;
    width: 66px;
    height: 76px;
    transition: .3s;
    margin: 15px;
}

.status:hover {
    scale: 1.15;
}

.email:hover {
    transform: translateY(3px);
    box-shadow: none;
}

.navigation a:hover {
    color: var(--color-3);
}

.landing-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-size: cover;
}

.face-container {
    background-color: transparent;
    width: 200px;
    height: 130px;
    position: absolute;
    z-index: 999;
    right: 5px;
    top: 10px;
    border-radius: 5px;
    border: 4px solid var(--color-3);
    cursor: pointer;
    transition: .3s;
}

#face {
    width: 85px;
    height: 100px;
    z-index: 9999999999999999999;
    transition: .5s;
    position: absolute;
    right: 20px;
    top: 20px;
    transform: translateX(-50%);
    cursor: pointer;
}

#face:hover {
    scale: 1.1;
}

#assistance {
    position: absolute;
    z-index: 999;
    right: 15px;
    font-size: 20px;
    top: 120px;
}

#dialogue {
    background-color: var(--color-2);
    width: 800px;
    height: 50px;
    position: fixed;
    z-index: -1;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    border: solid var(--color-3) 5px;
    opacity: 0;
    transition: .3s;
    display: flex;
    align-items: center;
}

#dialogue-text {
    color: var(--color-1);
    text-align: center;
    transform: translateY(25%);
    padding-left: 10px;
}

.landing-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-parallax, .background-parallax img {
    position: absolute;
    width: 100dvw;
    height: 100%;
}

.background-parallax {
    top: 0;
    left: 0;
}

#bg-bushes {
    left: -20px;
}

.landing-section h1 {
    font-size: 5em;
    color: var(--color-8);
    font-weight: 900;
    text-align: center;
}

.landing-section h2 {
    font-size: 2em;
    color: var(--color-2);
    font-weight: 600;
    margin-bottom: 25px;
    background-color: var(--color-6);
    display: inline-block;
    padding: 5px 15px;
    border-radius: 2px;
}

.special-btn {
    text-decoration: none;
    color: var(--color-2);
    background-color: var(--color-1);
    padding: 10px 25px;
    border-radius: 7px;
    font-size: 1.2em;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 2px var(--color-5);
    border: 1px solid var(--color-5);
    margin: 0 15px;
}

.terminal {
    color: var(--color-6);
    background-color: var(--color-2);
}

.special-btn::before {
    content: '';
    height: 100px;
    transform: rotate(-15deg);
    width: 30px;
    box-shadow: 0 0 55px var(--color-6);
    opacity: .8;
    background-color: var(--color-6);
    position: absolute;
    top: -20px;
    left: -90px;
    transition: .6s;
}

@keyframes passingLine {
    100% {
        transform: translateX(270px) rotate(-15deg);
    }
}

.special-btn:hover::before {
    animation: passingLine .65s ease;
}

.special-btn:active {
    transform: scale(.95);
}

.folder {
    position: absolute;
    height: 300px;
    width: 800px;
    background-color: var(--color-1);
    bottom: -50px;
    border: 4px solid var(--color-3);
    border-radius: 5px;
    transition: .2s;
    padding: 15px;
    animation: floating 2s infinite ease-in-out;
    z-index: 9999;
}

.folder-close {
    position: absolute;
    height: 300px;
    width: 800px;
    border-radius: 5px;
    background-color: var(--color-1);
    border: 4px solid var(--color-3);
    bottom: -150px;
    left: -3px;
    transition: .2s;
    z-index: 5;
}

.folder-close-web {
    position: absolute;
    height: 250px;
    width: 750px;
    border-radius: 5px;
    background-color: transparent;
    left: 50%;
    top: 50%;
    border: 4px dashed var(--color-3);
    transform: translate(-50%, -50%);
}

.files-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-weight: 600;
    color: var(--color-3);
}

.folder-card {
    position: absolute;
    transition: .3s;
}

#ace {
    right: 5px;
}

#dev {
    left: 30%;
}

#info {
    left: 5px;
}

.folder:hover>#ace {
    transform: translateY(-35px) rotate(8deg);
}

.folder:hover>#dev {
    transform: translateY(-120px);
}

.folder:hover>#info {
    transform: translateY(-50px) rotate(-15deg);
}

.folder:hover>.folder-close {
    transform: translateY(50px);
}

.about-section {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-4);
    color: var(--color-3);
    padding: 25px 30px;
    position: relative;
}

@keyframes windEffect1 {
    0% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(48deg);
    }

    75% {
        transform: rotate(42deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes windEffect2 {
    0% {
        transform: rotate(270deg);
    }

    25% {
        transform: rotate(275deg);
    }

    75% {
        transform: rotate(265deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

.grass {
    position: fixed;
    bottom: 0;
    z-index: 9999999;
    width: 130px;
}

#grass1 {
    transform: rotateZ(45deg);
    bottom: -20px;
    left: -25px;
    animation: windEffect1 5s infinite ease-in-out;
}

#grass2 {
    right: 0;
    bottom: 150px;
    transform: rotate(270deg);
    animation: windEffect2 5s infinite ease-in-out;
}


#jungle-tree {
    position: absolute;
    width: 600px;
    height: 500px;
    right: -180px;
    top: -420px;
    z-index: 99999;
}

#palm-tree {
    left: -50px;
    transform: rotateZ(25deg);
    top: 315%;
    height: 400px;
    width: 300px;
    z-index: 999;
    position: absolute;
}

#lianas-brown {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: -150px;
    right: 50px;
    z-index: -1;
}

#book-about {
    position: absolute;
    left: 15px;
    top: 150px;
    transition: .3s;
    cursor: pointer;
}

.about-section h1 {
    margin-top: 350px;
    margin-bottom: 50px;
    color: var(--color-8);
}

.parrot {
    position: absolute;
    width: 60px;
    top: -135px;
    right: 20px;
    height: 90px;
    z-index: 99999;
    cursor: pointer;
}

.section-title {
    font-size: 3.5em;
    font-weight: 700;
    color: var(--color-8);
}

.desc {
    position: relative;
}

.about-section p button {
    font-size: 20px;
    text-align: center;
    margin: 0 0 15px 0;
    background-color: rgb(40, 235, 40);
    display: none;
}

.about-section p {
    position: relative;
    margin-top: 70px;
    text-align: left;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: var(--color-1);
    padding: 20px;
    border-radius: 5px;
    max-width: 1200px;
    border: var(--color-3) solid 4px;
    transition: .3s;
    z-index: 999999;
}


.about-section p:hover {
    box-shadow: 15px 15px 0px rgb(98, 98, 98, .5);
}

.about-section p:hover+#book-about {
    left: -100px;
    transform: rotate(-15deg);
}

#book-about:hover {
    left: -200px;
    transform: rotate(-15deg);
}

.hobbies {
    color: var(--color-6);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-4);
    flex-direction: column;
    padding: 15px;
    position: relative;
}

.hobbies>h1 {
    margin-top: 130px;
    color: var(--color-8);
}

.hobbies-content {
    margin-top: 90px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.hobbies-content>div p {
    font-size: 25px;
    text-align: center;
    color: var(--color-2);
    font-weight: 900;
    margin-top: 40px;
    background-color: var(--color-6);
    padding: 5px 15px;
    border-radius: 2px;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.ace-container {
    position: relative;
    overflow: hidden;
}

.ace-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150px;
    width: 50px;
    height: 250px;
    background: var(--color-6);
    box-shadow: 1px 1px 15px var(--color-6);
    opacity: .5;
    transform: rotate(20deg);
    transition: .6s;
    z-index: 55;
}

.ace-container:hover::before {
    transform: translateX(400px);
}

.ace-container:hover>img {
    animation: spin 1.7s infinite linear .3s;
}

.projects {
    color: var(--color-6);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-4);
    flex-direction: column;
    padding: 15px;
}

.projects>h1 {
    margin-top: 130px;
    color: var(--color-8);
}

.projects-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 115px;
}

.project {
    border: 4px solid var(--color-3);
    width: 400px;
    height: 350px;
    margin: 15px;
    padding: 25px 15px;
    border-radius: 5px;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: var(--color-1);
    color: var(--color-3);
    position: relative;
}

.project-container {
    position: relative;
}

.project-container:hover > #fish-box {
    animation: jumpAndDip 1.2s linear .1s;
}

.project .monkey {
    position: absolute;
    width: 90px;
    bottom: 10px;
    right: 10px;
    transition: .3s;
}

.project .monkey:hover {
    scale: 1.1;
}

@keyframes jumpAndDip {
    0% {
        transform: translateX(0) translateY(0);
    }

    25% {
        transform: translateX(50%) translateY(-200px);
    }

    50% {
        --fish-rotation: 60deg;
    }

    100% {
        transform: translateX(100%) translateY(0);
        --fish-rotation: 60deg;
    }
}

#fish-box {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 40px;
}

#fish {
    width: 80px;
    position: absolute;
    rotate: var(--fish-rotation);
    transition: .3s;
}

.project-title {
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
}

.project:hover {
    scale: 1.05;
}

.project-desc {
    font-size: 1.4em;
    text-align: center;
    align-self: flex-end;
    height: 100px;
}

.see-more {
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.see-more::before {
    content: '';
    width: 50px;
    height: 400px;
    background-color: var(--color-6);
    position: absolute;
    top: -50px;
    left: -100px;
    transform: rotate(-15deg);
    box-shadow: 0 0 55px var(--color-6);
    opacity: .7;
}

@keyframes passingBigLine {
    100% {
        transform: translateX(600px) rotate(-15deg);
    }
}

.see-more:hover::before {
    animation: passingBigLine .7s ease;
}

.techs {
    color: var(--color-6);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-4);
}

.techs h1 {
    color: var(--color-8);
    margin-top: 130px;
}

.techs h3 {
    margin: 50px 0;
    font-size: 2em;
    color: var(--color-8);
}

.techs-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tech-box {
    position: relative;
}

.tech {
    position: relative;
    font-size: 1.8em;
    background-color: var(--color-1);
    padding: 5px 15px;
    margin: 10px;
    border-radius: 5px;
    color: var(--color-3);
    border: 3px solid var(--color-3);
    box-shadow: 0 3px 5px var(--color-5);
    cursor: pointer;
    z-index: 99;
}

.head-tail {
    width: 70px;
    position: absolute;
}

#head {
    top: -43px;
    left: 20px;
}

#tail {
    bottom: -57px;
    right: -35px;
    rotate: 190deg;
}

.techs-content{
    position: relative;
}

.framework-box {
    position: relative;
}

#cham-green {
    position: absolute;
    width: 120px;
    height: 85px;
    top: -43px;
    left: 65px;
    z-index: 99;
    background-image: url(imgs/cham-green.webp);
    background-size: cover;
    transition: .6s;
}

.social {
    color: var(--color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-4);
}

.social h1 {
    margin-top: 150px;
}

.social-content {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 35px;
    gap: 60px;
}

.social-content img {
    width: 200px;
    height: 200px;
    animation: floating 2s ease-in-out infinite;
    transition: .2s;
    margin: 0 15px;
}

.social-content img:hover {
    scale: 1.05;
}

footer {
    position: relative;
}

#crocodile {
    position: relative;
    width: 200px;
    top: 0;
    left: 0;
    margin: 30px 0;
}

@media screen and (max-width: 1310px) {
    .landing-section {
        background: linear-gradient(to bottom, var(--color-7), var(--color-4)) !important;
    }

    #face,
    #play-btn,
    .face-container,
    #parrot,
    #assistance,
    .heading img,
    .heading nav,
    .background-parallax,
    #book-about,
    #jungle-tree {
        display: none;
    }

    .project {
        width: 300px;
    }

    .project-title {
        font-size: 1.9em;
    }

    .project-desc {
        font-size: 20px;
    }

    #palm-tree {
        top: 15%;
    }
}

@media screen and (max-width: 900px) {
    .landing-section h1 {
        font-size: 4em;
    }

    .grass,
    .email {
        display: none;
    }

    .landing-section h3 {
        font-size: 1.8em;
    }

    .folder,
    .folder-close {
        width: 380px;
    }

    .folder-close,
    .folder {
        height: 200px;
    }

    .folder img {
        width: 150px;
    }

    .folder-card {
        bottom: 0;
    }

    .folder-close-web {
        width: 300px;
        height: 150px;
    }

    .files-text {
        font-size: 2em;
    }

    .landing-section {
        justify-content: space-around;
    }

    .about-section p {
        font-size: 17px;
    }

    .section-title {
        font-size: 3em;
    }
}

@media screen and (max-width: 970px) {
    #cham-green {
        display: none;
    }
}

@media screen and (max-height: 950px) and (max-width: 900px) {
    #palm-tree {
        display: none;
    }
}

@media screen and (max-height: 750px) {
    #face,
    #play-btn,
    #assistance,
    .face-container,
    .folder {
        display: none;
    }
}

@media screen and (max-width: 389px) {
    .folder {
        display: none;
    }
}