@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap');

:root {
    --clr-1: #000000;
    --clr-2: #9388A2;
    --clr-3: #341948;
    --clr-4: #170B3B;
    --clr-5: rgb(182, 0, 182);
    --clr-6: rgb(218, 170, 255);
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-6);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--clr-5);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--clr-3);
}

::-webkit-scrollbar-track {
    background-color: var(--clr-4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    /*background-color: rgba(0, 114, 9, 0.2) !important;*/
    border: 0px green solid;
}

.hidden {
    opacity: 0;
    transition: all 1.5s;
    transform: translateX(-100%);
    filter: blur(3px);
}

.hidden2 {
    opacity: 0;
    transition: all 1.5s;
    filter: blur(3px);
}

.showing {
    opacity: 1;
    transform: translateX(0%);
    filter: blur(0);
}

body {
    background-image: url(./imgs/bg.webp);
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    height: 10vh;
    position: absolute;
    width: 100%;
}

.title-division h1 {
    font-weight: 900;
    color: var(--clr-6);
    text-decoration: none;
    cursor: default;
}

/* Loading CSS */

.loading {
    height: 100%;
    width: 100%;
    position: absolute;
    position: fixed;
    background: var(--clr-4);
    z-index: 99999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1.5s;
}

.dot {
    background-color: transparent;
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    transition: 0.5s;
}

.dot:nth-child(1) {
    border: 5px solid transparent;
    border-top: 5px solid var(--clr-6);
    animation: roll 1.5s infinite linear;
}

.dot:nth-child(2) {
    border: 5px solid transparent;
    border-bottom: 5px solid var(--clr-6);
    animation: roll 1.5s infinite linear;
}

.dot:nth-child(1)::after {
    content: "";
    background: var(--clr-6);
    position: absolute;
    width: 15px;
    height: 15px;
    top: 15px;
    left: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--clr-6);
}

.dot:nth-child(2)::after {
    content: "";
    background: var(--clr-6);
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 15px;
    right: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--clr-6);
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.hideLoading {
    transform: translateX(-100%);
    opacity: 0;
}
/* NavBar CSS */

.hamburger {
    display: flex;
    cursor: pointer;
    transform: rotate(90deg);
    z-index: 999;
}

.bar {
    background: var(--clr-6);
    width: 8px;
    border-radius: 3px;
    margin-left: 3px;
    height: 35px;
    border: 2px solid var(--clr-3);
    transition: 0.3s;
}

.animateBtn {
    position: fixed;
}

.animateBtn #bar1 {
    transform: rotate(-45deg) translateX(15px);
}

.animateBtn #bar2 {
    opacity: 0;
}

.animateBtn #bar3 {
    transform: rotate(45deg) translateX(-15px);
}

.nav-bg {
    position: absolute;
    height: 100vh;
    max-width: 300px;
    min-width: 200px;
    width: 50%;
    left: 0;
    top: 0;
    background: var(--clr-3);
    border-right: solid var(--clr-6) 2px;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translateX(-300px);
    transition: 0.6s ease;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-links {
    font-size: 22px;
    text-decoration: none;
    color: var(--clr-6);
    font-weight: 600;
    margin: 20px 0;
}

.showNavigation {
    transform: translateX(0);
}

/* Rest of CSS */

.main-content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.7s;
}

@keyframes floating {
    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}

.face-div {
    display: flex;
    justify-content: center;
    position: relative;
}

.eyes {
    position: absolute;
    bottom: 0;
}

#eye1,
#eye2 {
    margin: 15px;
}

#big-text-h1 {
    font-size: 2em;
    font-weight: 700;
    color: var(--clr-2);
}

#big-text-h1 span {
    font-size: 2.5em;
    color: var(--clr-6);
    font-weight: 900;
    letter-spacing: -5px;
    font-family: 'Mada', sans-serif;
}

#aboutmeBtn {
    padding: 10px 20px;
    text-decoration: none;
    color: var(--clr-6);
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 10px;
    border-radius: 3px;
    border: 3px solid var(--clr-6);
    transition: 0.3s;
}

#aboutmeBtn:hover {
    background-color: var(--clr-3);
    color: white;
    border: white solid 3px;
    transform: translateY(-5px) translateX(-5px);
    box-shadow: 2px 2px 10px black;
}

#aboutme {
    text-align: center;
}

.aboutme-content {
    height: 100vh;
}

.big-text-title {
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 50px;
    color: var(--clr-6);
}

.introduction:not(.ar) {
    background: var(--clr-3);
    padding: 1.6em 0em;
    border-top: var(--clr-6) solid 3px;
    border-bottom: var(--clr-6) solid 3px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction-content {
    padding: 3em 2em;
}

.introduction-content p {
    font-weight: 600;
    font-size: 1.1em;
    color: var(--clr-2);
}

.project {
    display: flex;
    justify-content: space-around;
    padding: 2em 3em;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.project:nth-last-child(1) {
    border-bottom: 3px var(--clr-6) solid;
}

.description-project {
    width: 65vh;
    background-color: var(--clr-3);
    border-radius: 16px;
    animation: floating 2s infinite;
    box-shadow: 5px 5px 15px black;
}

.big-text-title-project {
    font-size: 2em;
    font-weight: 800;
    color: var(--clr-6);
    padding: 0.6em;
}

.description-project p {
    color: var(--clr-2);
    padding: 1em;
    font-size: 1.1em;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
}

.visit-btn {
    transition: 0.3s;
    color: var(--clr-6);
    letter-spacing: 2px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 6px;
    background-color: var(--clr-3);
    border: 2px solid var(--clr-6);
    font-weight: 600;
}

.visit-btn:hover {
    color: white;
    border: 2px solid white;
}

.project-img img {
    padding: 2em 0;
    max-width: 100%;
}

.social-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
    padding-bottom: 5em;
}

.social-logo {
    font-size: 7em;
    color: var(--clr-6);
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 170px;
    perspective: 1000px;
    margin: 1em;
    animation: floating 2s infinite;
    cursor: pointer;
}

.flip-card-late {
    animation: floating 2s 0.3s infinite;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    border: var(--clr-6) solid 2px;
}

.flip-card-front {
    background-color: var(--clr-3);
    box-shadow: 3px 3px 15px black;
    color: black;
    display: flex;
    flex-direction: column;
}

.flip-card-front h3 {
    color: var(--clr-6);
}

.flip-card-back {
    background-color: var(--clr-3);
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back a {
    color: var(--clr-6);
    font-size: 2em;
    text-decoration: none;
    transition: 0.3s;
}

.flip-card-back a:hover {
    color: white;
}

@media screen and (max-width: 645px) {
    #big-text-h1 {
        font-size: 1.4em;
        text-align: center;
    }

    .eyes,
    .face {
        display: none;
    }

    #aboutmeBtn {
        font-size: 1em;
        padding: 7px 17px;
    }

    .description-project p {
        color: var(--clr-2);
        padding: 0.5em;
        font-size: 0.9em;
        font-weight: 600;
        text-align: left;
    }

    .project {
        padding: 2em 1em;
    }
}

@media screen and (max-width: 1033px) {
    .project-img img {
        display: none;
    }

    .project {
        justify-content: center;
        margin-bottom: 10px;
    }
}