@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --color-1: #cb68a9;
    --color-2: #170376;
    --color-3: #e6975e;
    --color-4: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #cb68a9, #170376);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Trispace", sans-serif;
}

.site-page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space;
}

.title {
    height: 30vh;
    display: flex;
    align-items: center;
}

.title h1 {
    font-weight: 800;
    font-size: 3em;
    color: var(--color-3);
    transition: 0.5s;
    cursor: pointer;
}

.title h1:hover {
    transform: translateX(20px);
}


.content {
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: url(./imgs/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.phone-navbar {
    display: none;
}

.content h1 {
    color: var(--color-3);
}

.social {
    margin-top: 1em;
    display: flex;
}

.social a {
    color: var(--color-3);
    font-size: 1.3em;
    margin: 8px;
    transition: 0.5s;
}

.social a:hover {
    transform: scale(1.4);
    color: white;
}

.content h1 span {
    color: var(--color-3);
    font-size: 1.7em;
    font-weight: 800;
    transition: 0.5s;
    cursor: default;
}

.content h1 span:hover {
    color: white
}

.nav-links {
    margin-top: 25px;
    flex-wrap: wrap;
    flex-direction: row;
}

.content .nav-link {
    margin-top: 2em;
    color: var(--color-3);
    text-decoration: none;
    background: linear-gradient(to left, var(--color-2), var(--color-1));
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 16px;
    border: 3px var(--color-3) solid;
    transition: 0.3s;
}

.content .nav-link:hover {
    color: white;
    border: white 3px solid;
}

.aboutme-section {
    width: 100%;
    background: linear-gradient(to bottom, var(--color-2), var(--color-1));
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    padding: 0 10em;
    justify-content: center;
    right: 0;
    border-top: 3px var(--color-3) solid;
}

.aboutme-section h1 {
    color: var(--color-3);
    font-size: 2.5em;
    padding: 1em;
}

.aboutme-section p {
    color: white;
}

.card {
    padding: 0 5em;
}

@media screen and (max-width: 980px) {
    .content {
        width: 100%;
    }

    .aboutme-section {
        position: relative;
        width: 100%;
        padding: 0;
        font-size: 14px;
        height: 100vh;
        min-width: 300px;
        background: linear-gradient(to bottom, var(--color-2), var(--color-1));
    }
}

@media screen and (max-width: 823px) {
    .content h1 {
        font-size: 1.2em;
    }
}